<!-- <button type="back" ejs-button style="margin-left: 20px" (click)="onOpenDialog($event)"
><i class="fa-solid fa-plus"></i> Add new</button>

<ejs-dialog id='dialog' #ejDialog isModal='true' (overlayClick)="onOverlayClick()"
content='This is a modal dialog' [target]='targetElement' width='250px'> </ejs-dialog> -->
<button type="button" ejs-button cssClass='e-primary' (click)="openDialog()">Add Transaction</button>
<!-- <ejs-dialog id="addTransactionDialog" header='Add Transaction' visible=false showCloseIcon='true' width="800"  >
  <form class="form">
    <div class="form-group">
      <label>Coin Name:</label>
      <input type="text" class="form-control" />
    </div>
    <div class="form-group">
      <label>Transaction Type:</label>

    </div>
    <div class="form-group">
      <label>Quantity:</label>
      <input type="text" class="form-control" />
    </div>
    <div class="form-group">
      <label>Price:</label>
      <input type="text" class="form-control" />
    </div>
  </form>
  <footer>
    <button type="button" ejs-button cssClass='e-flat' [isPrimary]='true'>Add</button>
    <button type="button" ejs-button cssClass='e-flat' (click)="closeDialog()">Cancel</button>
  </footer>
</ejs-dialog> -->

<ejs-dialog id="addTransactionDialog" header='Add Transaction' visible=false showCloseIcon='true' width="800"  >
 <form>
  <div class="row material2">
    <div class="col-xs-5 col-sm-5 col-lg-5 col-md-5 col">
      <ejs-textbox required id="Issuer" name="Issuer" type="text" placeholder="Issuer"
     cssClass="e-outline" floatLabelType="Auto"></ejs-textbox>

    </div>
    <div class="col-xs-5 col-sm-5 col-lg-5 col-md-5 col">

    <!-- <ejs-datetimepicker required="Date" id="Date" name="Date"
    placeholder="Date" floatLabelType="Auto" cssClass="e-outline" >
  </ejs-datetimepicker> -->


 </div>
     </div>
      </form>
        <footer>
    <button type="button" ejs-button cssClass='e-flat' [isPrimary]='true'>Add</button>
    <button type="button" ejs-button cssClass='e-flat' (click)="closeDialog()">Cancel</button>
  </footer>
</ejs-dialog>

