

<app-portfolio-details></app-portfolio-details>
<!-- <ejs-dropdownlist cssClass="e-outline" [dataSource]='this.data' [fields]="fieldsDropDownCoins" [valueTemplate]="valueTemplate" [itemTemplate]="template"
 type="text" placeholder="Select Coin" cssClass="e-outline" [allowFiltering]='true'
floatLabelType="Auto" popupHeight='600px' >

</ejs-dropdownlist>
<ng-template #template let-data>
<h6>
  <img [src]="data.iconPath" [alt]="data.symbol"  width="20" height="20">
  {{data.name}}
 {{data.symbol}}
</h6>
</ng-template>
<ng-template #valueTemplate let-data>
  <h6>
    <img [src]="data.iconPath" [alt]="data.symbol"  width="20" height="20">
    {{data.name}}
   {{data.symbol}}
  </h6>
  </ng-template> -->
