<div class="container-fluid mt-5 px-5" *ngIf="this.notifiers == undefined ||  this.notifiers == null">
  <app-loading></app-loading>
</div>

<div class="container-fluid mt-5 px-5" *ngIf="this.notifiers != undefined ||  this.notifiers != null">
  <div *ngIf="isNewSubscriptionBtnClicked == true">
    <ejs-dialog id='dialog' #dialog isModal='true' showCloseIcon='true' (open)="onAddNewNotifierSubscripiton()"
      (overlayClick)="onOverlayClick()" [target]='targetElement' width='auto'>

      <ng-template #content>
        <div ngForm #notifierForm="ngForm">
          <div class="row">
            <div class="col-md-12 col">
              <ejs-combobox cssClass="e-outline" [(ngModel)]="notifier!.CoinSymbol!"  name="CoinSymbol"
                [dataSource]='this.coinBinance' [fields]="fieldsDropDownCoins" required
                #transactionInFormCoinSymbol="ngModel" [valueTemplate]="valueTemplate" [itemTemplate]="template"
                type="text" placeholder="Select Coin" filterBarPlaceholder="Serach Coin Symbol" cssClass="e-outline"
                [allowFiltering]='true' floatLabelType="Auto" popupHeight='600px'>
              </ejs-combobox>
              <ng-template #template let-data>
                <h6 style="margin: 10px">
                  <img [src]="data.iconPath" (error)="data.iconPath='../../assets/default.png'" [alt]="data.symbol"
                    width="30" height="30">
                  {{data.name}}
                  {{data.symbol}}
                </h6>
              </ng-template>
              <ng-template #valueTemplate let-data>
                <h6 style="margin: 10px">
                  <img [src]="data.iconPath" (error)="data.iconPath='../../assets/default.png'" [alt]="data.symbol"
                    width="30" height="30">
                  {{data.name}}
                  {{data.symbol}}
                </h6>
              </ng-template>
            </div>
            <div class="col-md-12 col">
              <div class='e-btn-group e-round-corner'>
                <button (click)="onUpdatePriceVariation(true)" class="{{ getButtonClass('Bullish') }}" ejs-button>
                  Bullish </button>
                <button (click)="onUpdatePriceVariation(false)" class="{{ getButtonClass('Bearish') }}" ejs-button>
                  Bearish </button>
              </div>
            </div>

          </div>
          <div class="row material2">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6 col">
              <ejs-datetimepicker [(ngModel)]="notifier!.DueDate!" name="DueDate" start='Year' placeholder='Due Date'
                [value]='dateValue' cssClass="e-outline" floatLabelType="Auto">
              </ejs-datetimepicker>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6 col">
              <ejs-textbox [(ngModel)]="notifier.DesiredPrice" required id="DesiredPrice" placeholder='Desired Price'
                name="DesiredPrice" type="number" #notifierForm="ngModel" cssClass="e-outline" floatLabelType="Auto">
              </ejs-textbox>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6 col"></div>
            <div class="col-md-auto ms-auto text-center col">
            <div class="bottom-btn-submit">
                    <button type="submit" iconCss="e-icons e-save-icon" ejs-button isPrimary="true" (click)="onSubmit()"
            [disabled]="!notifierForm.valid" [content]="'Add Notifier'"></button>
            </div>
          </div>
          </div>
          <!-- <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6 col"></div>
            <div class="col-md-auto ms-auto text-center col">
              <button type="submit" iconCss="e-icons e-save-icon" ejs-button isPrimary="true" (click)="onSubmit()"
                [disabled]="!notifierForm.valid">Submit</button>
            </div>
          </div> -->
        </div>

      </ng-template>
      <ng-template #header>
        <h4>Add new notifier</h4>
      </ng-template>
    </ejs-dialog>
  </div>

  <div *ngIf="isDeleteContentClicked == true">
    <ejs-dialog #dialog id='dialog' isModal='true' showCloseIcon='true' showSubmitButton="true"
      (overlayClick)="onOverlayClick()" (close)="onClose()" [target]='targetElement' width='auto'>
      <ng-template #header>
        Notifier Details
      </ng-template>
      <ng-template #content>

        <div class="content border-0">
          <div class="label"> Are you sure you want to remove this notifier? </div>
        </div>
        <div class="bottom-btns">
          <button class="danger" (click)="deleteSelectedContent()"> Remove </button>
          <button (click)="onClose()"> Cancel </button>
        </div>
      </ng-template>
    </ejs-dialog>
  </div>

  <div class="row">
    <div tabindex="0" class="e-card" id="basic">
      <div class="e-card-header">
        <div class="e-card-header-caption">
          <div class="e-card-title">

          </div>
        </div>
      </div>
      <div class="e-card-content">
        <div class="row">
          <div class="col-md-5 ms-5 text-left" style="padding-bottom: 50px;">
            <button type="submit" ejs-button isPrimary="true"
              (click)="onAddNewNotifierSubscripiton()"><i class="fa-solid fa-plus"></i> Add new notifier</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 ms-5 text-left">
            <h4 *ngIf="this.notifiers.length > 0" style="padding-bottom: 10px;">Active notifiers</h4>
          </div>
        </div>
        <div class="row" *ngIf="this.notifiers.length == 0">
          <div class="d-flex justify-content-center"> <span>
              <img class="imgNoPost" src="../../assets/bellwebp.webp" style="width: 200px;"
                alt="No comments for Symbol">
            </span>
          </div>
          <div class="d-flex justify-content-center"> <span>
              <h3>NOTHING!!</h3>
              <h5>You aren't subscribed to any notificator.</h5>
            </span>
          </div>
        </div>
        <div class="row" *ngIf="this.notifiers.length> 0">
          <div class="col-md-3 ms-5 text-left" *ngFor="let notificationData of this.notifiers; let i = index">
            <div tabindex="0" class="e-card" id="basic">
              <div class="e-card-header">
                <div class="e-card-header-caption">
                  <div class="row">
                    <div class="col-md-6">
                      <h5>
                        Symbol: <span class="e-badge e-badge-primary e-badge-pill">
                          {{notificationData.CoinSymbol}}
                        </span>
                      </h5>
                    </div>
                    <div class="col-md-auto ms-auto text-center">
                      <button type="submit" iconCss="e-icons e-trash-icon" ejs-button isPrimary="true"
                        (click)="onDelete(notificationData, i)"></button>
                    </div>
                  </div>

                </div>
              </div>
              <!--              <div class="e-card-content">
                <span>Desired Price: {{notificationData.DesiredPrice}} </span>
                <hr>
                <span>Due Date: {{notificationData.DueDate | date:'yyyy-MM-dd HH:mm:ss' }} </span>
                <hr>
                <span>
                  Price Direction: <span *ngIf="notificationData.isHigher == true" style="color:green">
                    Bullish
                  </span> <span *ngIf="notificationData.isHigher == false" style="color: red"> Bearish </span>
                </span>

              </div>-->
              <div class="e-card-content">
                <div class="content">
                  <div class="label">Desired Price</div>
                  <div class="data-details h6"> {{notificationData.DesiredPrice | abbreviateNumber}} </div>
                </div>
                <div class="content">
                  <div class="label">Due Date</div>
                  <div class="data-details h6"> {{notificationData.DueDate | date:'MMM d, y, h:mm a' }} </div>
                </div>
                <div class="content">
                  <div class="label">Price Direction</div>
                  <div class="data-details h6" *ngIf="notificationData.isHigher == true" style="color:green"> Bullish
                  </div>
                  <div class="data-details h6" *ngIf="notificationData.isHigher == false" style="color:red"> Bearish
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
