
  .e-dialog {
    max-height: fit-content !important;
    max-width: fit-content !important;
    min-width: 540px;
    position: absolute;
    margin-bottom: 29px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.62);
  }

  .e-dialog .e-dlg-content{
    border-radius: 16px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .e-dialog .e-dlg-header-content{
    border-radius: 16px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }


  .e-btn{
    border-radius: 20px;
    background-color: transparent;
    color: #189ad3;
    width: fit-content;
  }

  .e-btn-group{
    border-radius: 20px;
    width: fit-content;
  }

  .selected {
    background-color: #2095f2 !important;
    color: white !important;
  }


  a {
    color: #2095f2;
    text-decoration: none;
    font-size: 20px;
  }




  .e-btn.e-round .e-btn-icon,
  .e-css.e-btn.e-round .e-btn-icon {
    font-size: 14px;
    line-height: 2.8572em;
    margin-top: -9px;
    width: auto;
  }

  .e-btn.e-round,
  .e-css.e-btn.e-round {
    border-radius: 50%;
    height: 2em;
    line-height: 1;
    width: 2em;
  }

  #loader {
    color: #008cff;
    height: 40px;
    width: 30%;
    position: absolute;
    font-family:  'Helvetica Neue','calibiri';
    font-size:16px;
    top: 45%;
    left: 45%;
  }



  /* For Round Button*/
  .e-edit-icon::before {
    content: '\e891';
  }

  .e-trash-icon::before {
    content: '\e94a';
  }


  .e-circle-close-2-icon::before {
    content: '\e917';
  }

  .e-close-icon::before{
    content: '\e7fc';
  }

  .e-save-icon::before{
    content: '\e98e';
  }


  .e-comments-icon::before{
    content: '\ec10';
  }

  .e-plus-2-icon::before{
    content: '\e963';
  }

  .e-back-icon::before{
    content: '\e610';
  }




  .e-card.e-card-horizontal {
    width: fit-content;
    min-width: 800px;
    position: relative;
    background: linear-gradient(to top, #ffffffde 23%, #f5f5f5 102%);
    margin-bottom: 20%;
    border-radius: 17px;
    border-radius: 9px;
    border: solid;
    border-color: #f5f5f5;
    background: rgba(255, 255, 255, 0.22);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(255, 255, 255, 0.62);

  }

  div#content {
    padding: 0px 25px 0px 25px !important;
  }

  .imgNoPost{
    width: 200px;
  }

  .e-richtexteditor .e-rte-toolbar {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom: 0;
  }

  .e-card {
    border: 1px none #000;
    border-radius: 20px;
    background-image: url("../../assets/3d-illustration-ethereum-blockchain-png.webp");
    margin-bottom: 29px;
    background: rgba(255, 255, 255, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    border: 1px solid rgba(255, 255, 255, 0.62);
  }


  .e-badge.e-badge-pill {
    border-radius: 5em;
    font-size: 15px;
  }

  a{
    color: black;
    text-decoration: none;
  }


  .e-card .e-card-content {
    color: rgb(8 8 8);
  }


.content {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 6px;
  border-bottom: 1px solid rgb(180, 196, 210);
}

.label {
  font-size: 14px;
  color: rgb(88, 102, 126);
}

.data-details {
  text-transform: capitalize;
  font-weight: 200;
}

.e-card .e-card-header-caption {
  line-height: normal;
  font-size: 14px;
  padding: 6px 0px;
}

.content {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
  border-bottom: 1px solid rgba(30, 30, 31, 0.278);
}
 .label {
  font-size: 16px;
  color: rgb(88, 102, 126);
}

.data-details {
  text-transform: capitalize;
}
 .bottom-btns {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  padding: 20px;
}
.bottom-btns button {
  margin: 4px 0px;
  -webkit-box-align: center;
  align-items: center;
  background: rgb(239, 242, 245);
  border: 0px;
  border-radius: 8px;
  display: inline-flex;
  color: rgb(0, 0, 0);
  cursor: pointer;
  -webkit-box-pack: center;
  justify-content: center;
  outline: 0px;
  font-weight: 600;
  width: 100%;
  height: 48px;
  font-size: 14px;
  padding: 0px 24px;
  line-height: 24px;
}

 button.danger{
  background-color: rgb(234, 57, 67) !important;
  color: rgb(255, 255, 255) !important;
}

.bottom-btn-submit button {
  margin: 4px 0px;
  align-items: center;
  background: rgb(239, 242, 245);
  border: 0px;
  border-radius: 23px;
  display: inline-flex;
  color: white;
  cursor: pointer;
  justify-content: center;
  outline: 0px;
  font-weight: 500;
  width: 100%;
  height: 43px;
  font-size: 13px;
  padding: 0px 24px;
  line-height: -12px;
  background-color: #5896ff;
}


button.e-control.e-btn.e-lib.e-round {
  font-size: 20px;
  margin-top: -20px;
}

.e-btn, .e-css.e-btn {
  color: rgba(0, 0, 0, 0.87);

}
