
<h6>Transaction Buy</h6>
  <div ngForm #transactionBuyForm="ngForm">
    <div class="row">
      <div class="col-md-12 col">
        <div *ngIf="dialogType =='insert'">
          <ejs-dropdownlist cssClass="e-outline" [(ngModel)]="transactionBuy!.CoinSymbol!"
          name="CoinSymbol"
        [dataSource]='this.coinsBinance' [fields]="fieldsDropDownCoins"
          [valueTemplate]="valueTemplate" [itemTemplate]="template" type="text" placeholder="Select Coin"
          cssClass="e-outline" [allowFiltering]='true' floatLabelType="Auto" popupHeight='600px'>
        </ejs-dropdownlist>
        <ng-template #template let-data>
          <h6>
            <img [src]="data.iconPath" [alt]="data.symbol" width="20" height="20">
            {{data.name}}
            {{data.symbol}}
          </h6>
        </ng-template>
        <ng-template #valueTemplate let-data>
          <h6>
            <img [src]="data.iconPath"  [alt]="data.symbol" width="20" height="20">
            {{data.name}}
            {{data.symbol}}
          </h6>
        </ng-template>
        </div>
        <div *ngIf="dialogType == 'update'">
        <ejs-textbox [(ngModel)]="transactionBuy.CoinSymbol" required id="CoinSymbol"
        placeholder='CoinSymbol' name="CoinSymbol" type="string" readonly="true" #transactionBuyForm="ngModel"
        cssClass="e-outline" floatLabelType="Auto">
        <ng-template #valueTemplate let-data>
          <h6>
            <img [src]="data.iconPath" [alt]="data.symbol" width="20" height="20">
            {{data.name}}
            {{data.symbol}}
          </h6>
        </ng-template>
      </ejs-textbox>
      </div>
    </div>
    </div>
    <div class="row material2">
      <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6 col">
        <ejs-textbox [(ngModel)]="transactionBuy.Price" required id="Price"
          placeholder='Price' name="Price" type="number" #transactionBuyForm="ngModel"
          cssClass="e-outline" floatLabelType="Auto">
        </ejs-textbox>
      </div>
      <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6 col">
        <ejs-textbox [(ngModel)]="transactionBuy.Amount" required id="Amount"
          placeholder='Amount' name="Amount" type="number" #transactionBuyForm="ngModel"
          cssClass="e-outline" floatLabelType="Auto">
        </ejs-textbox>
      </div>
    </div>
    <div class="row material2">
      <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6 col">
        <ejs-textbox [(ngModel)]="transactionBuy.Fee" id="Fee"
          placeholder='Fee' name="Fee" type="number" #transactionBuyForm="ngModel"
          cssClass="e-outline" floatLabelType="Auto">
        </ejs-textbox>
      </div>
      <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6 col">
        <ejs-datetimepicker [(ngModel)]="transactionBuy.Date" name="Date" start='Month'
           placeholder='Date' [value]='dateValue' cssClass="e-outline" #transactionBuyForm="ngModel"
          floatLabelType="Auto">
        </ejs-datetimepicker>
      </div>
    </div>
    <div class="row material2">
      <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 col">
        <ejs-textbox [(ngModel)]="transactionBuy.Note" multiline="true" id="Note"
          placeholder='Note' name="Note" type="number" #transactionBuyForm="ngModel"
          cssClass="e-outline" floatLabelType="Auto">
        </ejs-textbox>
      </div>
      </div>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6 col"></div>
      <div class="col-md-auto ms-auto text-center col">
      <button type="submit" iconCss="e-icons e-save-icon" ejs-button isPrimary="true" (click)="onSubmit()"
      [disabled]="!transactionBuyForm.valid">Submit</button>
    </div>
    </div>
  </div>

