.e-btn{
  border-radius: 20px;
  background-color: transparent;

}

.e-btn-group{
  border-radius: 20px;
  width: fit-content;
}

div#stockChart_57723_0_Secondary_Element {
  visibility: hidden !important;
}

rect#stockChart_57723_0_stockChart_rangeSelector_ChartBorder {
  fill: #45a7f400 !important;
}
div#stockChart_57723_0_stock_border {
  border: none !important;
}




.selected {
  background-color: #2095f2 !important;
  color: white !important;
}

svg#chart-container_stockChart_svg {
  /* border: 1px solid red !important; */
  background-color: blue !important;
}
.e-btn-group{
  margin: 20px;
  margin-left: 0;
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 4px solid;
  opacity: .25;
  border-radius: 60px;
  margin-left: 20px;
  border-color: #2095f2;
}
