<div class="container-fluid mt-5 px-5" *ngIf="this.data.length == 0">
  <app-loading></app-loading>
</div>
<div class="container-fluid mt-5 px-5" *ngIf="this.data.length > 0" >
  <div tabindex="0" class="e-card" id="basic">
    <div class="e-card-header">
      <div class="e-card-header-caption">
        <div class="e-card-title">
        </div>
      </div>
    </div>
    <div class="e-card-content">
      <div class="row">
        <div class="col-md-5 ms-3 text-left">
          <h4 style="padding-bottom: 10px;">Today's Cryptocurrency Prices</h4>
        </div>
      </div>
      <div class="grid-no-borders mt-3 mb-3">
        <ejs-grid #grid [dataSource]="data" [allowFiltering]='true' [filterSettings]='filterOption' (created)='created($event)' [allowPaging]="true" [allowSorting]="true" [pageSettings]="pageSettings"
                  [editSettings]="editSettings" [toolbar]="toolbar" [enableImmutableMode]='true' [rowHeight]='60' [allowSelection]="false"
                  (queryCellInfo)='customiseCell($event)'>

          <e-columns>
            <e-column field="viewdetails" [allowFiltering]='false' [allowSorting]="false" headerText="" textAlign="Left" width="33">
              <ng-template #template let-data>
                <input class="star" type="checkbox" title="Watchlist" [checked]="this.setCheckedValue(data.symbol)" (click)="onAddToWatchlist($event)">
              </ng-template>
            </e-column>
            <e-column headerText='Name' field='name' headerText='Name' textAlign='Left' width=40>
              <ng-template #template let-data>
                <div class="image">
                  <img [src]="data.iconPath" (error)="data.iconPath='../../assets/default.png'" width="32px" [alt]="data.name" /> <span> {{data.name}}</span>
                </div>
              </ng-template>
            </e-column>
            <e-column isPrimaryKey="true" field='symbol' headerText='Symbol' width=30>
              <ng-template #template let-data>
                <span class="e-badge e-badge-primary e-badge-pill ">{{this.data.symbol}}</span>
              </ng-template>
            </e-column>
            <e-column field='bidPrice' headerText='Price' textAlign='Right' width=40></e-column>
            <e-column field='priceChangePercent' headerText='24h %' textAlign='Right' width=40>
            </e-column>
            <e-column field='priceChange' headerText='Price Change' textAlign='Right' width=50 format='c2'>
              <ng-template #template let-data>
                {{data.priceChange | abbreviateNumber}}
              </ng-template>
            </e-column>
            <e-column field='quoteVolume' headerText='Volume' textAlign='Right' width=50 format='c2'>
              <ng-template #template let-data>
                {{data.quoteVolume | abbreviateNumber}}
              </ng-template>
            </e-column>
            <e-column field="viewdetails" headerText="" [allowFiltering]='false' [allowSorting]="false" textAlign="Right" width="50">
              <ng-template #template let-data>
                <div>
                  <button ejs-button (click)="onDetailsClicked($event)" title="Details" class="btn"><i class="fa-solid fa-info"></i></button>

                  <button ejs-button title="Trade" class="btn">
                    <a href="https://www.binance.com/en/trade/{{data.symbol}}_USDT?theme=light&type=spot">
                      <i class="fa-solid fa-shop"></i>
                    </a>
                  </button>
                </div>
              </ng-template>
            </e-column>
          </e-columns>
        </ejs-grid>
      </div>
    </div>
</div>
</div>
