
 .col-md-10 {
  margin-bottom: 20px;
}

.e-lib.e-grid .e-table {
  background-color: #fff0  !important;
}

.page-title {
  margin-top: 5px;
  margin-bottom: 15px;
  color: var(--celero-txt-color-blue);
}


.e-card.e-card-horizontal {
  width: fit-content;
  min-width: 800px;
  position: relative;
  background: linear-gradient(to top, #ffffffde 23%, #f5f5f5 102%);
  margin-bottom: 20%;
  border-radius: 17px;
  border-radius: 9px;
  border: solid;
  border-color: #f5f5f5;
  background: rgb(255 255 255 / 31%);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgb(0 0 0 / 43%);;
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(255, 255, 255, 0.62);

}

.e-card .e-card-content {
  color: rgb(8 8 8);
}

.col{
  padding: 12px;
}


div#content {
  padding: 0px 25px 0px 25px !important;
}


.e-card {
  border: 1px none #000;
  border-radius: 20px;
  margin-bottom: 29px;
  background: rgba(255, 255, 255, 0.22);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(255, 255, 255, 0.62);
}


a{
  color: black;
  text-decoration: none;
}

img {
  border-radius: 20px;
}


button.addButton.e-control.e-btn.e-lib.e-primary:hover {
  background-color: #2095f2 !important;
}

button.addButton.e-control.e-btn.e-lib.e-primary {
  background: rgba(255, 255, 255, 0.22);
  border-radius: 16px;
  margin-top: 20px;
  box-shadow: 0 4px 30px rgb(0 0 0 / 16%) !important;
}

button.e-control.e-btn.e-lib.e-round {
  font-size: 20px;
  margin-top: -20px;
}

.e-btn, .e-css.e-btn {
  -webkit-tap-highlight-color: transparent;
  background-color: transparent !important;
  border-color: transparent !important;
   box-shadow: none !important;
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 15px;
}
