/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
@import url('assets/material.css');


html{
  font-family: cursive;
}
.e-grid {
  border-radius: 0px 0px 10px 10px;
  box-shadow: 5px 5px 8px #888888;
}
.e-headertext {
  font-weight: bold;
}
.e-pager {
  border-radius: 0px 0px 10px 10px;
}

.e-grid{
  border-radius: 9px;

}

.e-grid .e-toolbar {
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
}

.e-pager{
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
}

.e-dialog.e-draggable{
  border-radius: 9px;
}
.e-dialog.e-draggable>.e-dlg-header-content {
  border-radius: 9px;
}


.e-dialog .e-footer-content {
  border-radius: 9px;
}

.e-dialog .e-dlg-header-content+.e-dlg-content {
  padding-top: 10px;
}

.e-toolbar-items {
  margin-left: 7px !important;
}

.e-textbox{
  background-color: inherit !important;
  border: none !important;
}

:root {
  --cryptofolio-color-logo-blue: #00A5EA;
  --cryptofolio-color-logo-green: #189ad3;
  --cryptofolio-color-light-green: #D4E279;
  --cryptofolio-color-hover: #79e2e2;
  --cryptofolio-bg-color-green: #ECF8E5;
  --cryptofolio-bg-color-green-l: #F7FDF3;
  --cryptofolio-bg-color-green-d: #DCF4CE;
  --cryptofolio-bg-color-green-btn: #AEC327;
  --cryptofolio-txt-color-green: #189ad3;
  --cryptofolio-txt-color-blue: #06A3E8;
  --cryptofolio-link-color-green: #189ad3;
  --cryptofolio-link-color-green-hover: #11516d;
}

/* app-component - main container */
#app-container {
  min-height: 90vh;
  /* background-image:linear-gradient(to bottom, rgb(255 255 255 / 0%), rgb(32 149 242 / 31%)),url("../src/assets/3d-illustration-ethereum-blockchain-png.webp"); */
  background:linear-gradient(to bottom, rgb(255 255 255),rgba(41, 169, 223, 0)), url(../src/assets/abstract-blue-flip.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: right;
}

/* Home page */
.home-section {
  margin: 0;
/*  padding: 0 8vw;*/
}
a.btn-arrow {
  padding: 5px 12px;
  margin-bottom: 10px;
  color: var(--celero-link-color-green);
  border: 2px solid var(--celero-link-color-green);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
a.btn-arrow:hover {
  color: var(--celero-txt-color-green);
  border: 2px solid var(--celero-txt-color-green);
}
/* .btn-green {
  color: white;
  background-color: var(--celero-bg-color-green-btn);
  transition: all 0.5s ease-in-out;
} */
/* .btn-green:hover {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
} */
@media screen and (max-width: 576px) {
  .home-section .img-fluid {
    max-height: 210px;
    margin: 10px auto;
/*    margin-right: auto;*/
    display: block;
  }
}

.page-title {
  margin-top: 5px;
  margin-bottom: 15px;
  color: var(--celero-txt-color-blue);
}

/* Override SF styles */

.e-toolbar {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: #fafafa;
  border: 1px none rgba(0, 0, 0, 0.12);
  border-radius: 9px !important;
  box-shadow: none;
}

.e-lib.e-grid {
  border-color: #e0e0e0;
  border: none;
  border-radius: 9px;
  margin-bottom: 30px;
}
.e-toolbar .e-toolbar-items.e-tbar-pos .e-toolbar-right {
  left: 11px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgb(0 0 0 / 14%);
    backdrop-filter: blur(7.6px);
}

.e-toolbar .e-toolbar-items.e-tbar-pos {
  display: block;
  border-radius: 9px;
  background-color: transparent !important;
}
.e-lib.e-grid .e-toolbar {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
   border-top: none;
  border-radius: 9px;
}

.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  max-width: 1645px;
}

.col-md-1 {
  flex: 0 0 auto;
  width: 3.33333333%;
}
.col-md-10 {
    flex: 0 0 auto;
    width: 93.33333333%;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 16px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 16px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2095f2;
}

.e-btn{
  border-radius: 20px;
  background-color: transparent;
  color: #189ad3;
  width: fit-content;
}

.col{
  padding: 12px;
}

.e-save-icon::before{
  content: '\e98e';
}

.grid-no-borders .e-pager .e-spacing.e-numericitem:not(.e-active):not(.e-np):not(.e-pp):hover {
  background-color: lightblue !important;
  border-radius: 30px !important;
}

